In [9]:
import mysql.connector as connector

In [10]:
connection = connector.connect(user = "root", password = "sethlee1", db = "little_lemon_db")

In [11]:
cursor = connection.cursor()

In [12]:
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)

In [13]:
results = cursor.fetchall()

In [14]:
print(results)

[('bookings',), ('bookings_week2',), ('employees',), ('menuitems',), ('menus',), ('orders',)]

In [18]:
orders_join_customers = """SELECT BillAmount, GuestFirstName, GuestLastName
FROM Orders INNER JOIN Bookings 
WHERE Orders.BookingID = Bookings.BookingID AND BillAmount > 60"""

cursor.execute(orders_join_customers)

In [19]:
results = cursor.fetchall()

In [20]:
print(results)

[(86, 'Anna', 'Iversen')]